#header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: rgba(237, 241, 74, 0.8);
    height: 50px;
}

.header-holder {
    height: 55px;
    background-color: rgb(237, 241, 74);
    margin-bottom: 8px;
}

.logofield {
  background-image: url('/static/img/logo.png');
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.headroom{
    transition:transform .25s ease-in-out;
    will-change:transform
}

.headroom--pinned{
    transform:translateY(0)
}

.headroom--unpinned{
    transform:translateY(-120%)
}

.row.vertical-align {
    display: flex;
    align-items: center;
}
