{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}


{% block header %}
<script src="/static/js/addbook.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/addbook.css">
{% endblock %}

{% block actionBtn %}
  <div class="col-3 actionBtn">
    Confirm
  </div>
{% endblock %}


{% block content %}

  <form method="post" class="addbookform" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ render_field(form.name) }}
    {{ render_field(form.author) }}
    {{ render_field(form.book_type) }}
    {{ render_field(form.language) }}
    {{ render_field(form.description) }}
    {{ render_field(form.price) }}
    <div class="form-group">
      <label for="formGroupExampleInput">Service type </label> <br>
      <label class="custom-control custom-radio">
        <input id="service_type1" value="rent" name="service_type" type="radio" checked class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">rent</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="service_type2" value="free" name="service_type" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">free giving</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="service_type3" value="exchange" name="service_type" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">exchange to other</span>
      </label>
    </div>
    {{ render_field(form.target_place) }}
    {{ render_field(form.image) }}
  </form>
{% endblock %}
