{% from "_formhelpers.html" import render_field %}

{% extends "base.html" %}


{% block header %}
<script src="/static/js/check_deal.js"></script>
{% endblock %}

{% block actionBtn %}
<a class="col-3 actionBtn" href="{{ url_for('index') }}">
  Back
</a>
{% endblock %}


{% block content %}
<section class="row details">
  <table class="table">
    <thead>
      <tr>
        <th>Link</th>
        <th>Book Name</th>
        <th>Service Type</th>
        <th>Requester Name</th>
        <th>Requester Rank</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for data in datas %}
      <tr>
        <td>
          <a href="/bookdetail/{{data.b.uuid}}"><i class="fa fa-link" aria-hidden="true"></i></a>
        </td>
        <td>{{ data.b.name }}</td>
        <td>{{ data.b.service_type }}</td>
        <td>{{ data.requester.nickname }}</td>
        <td>
          {% for i in range(data.requester.get_ranking()) %}
          <i class="fa fa-star" aria-hidden="true"></i>
          {% endfor %}
        </td>
        <td>
          {% if not data.processed  %}
            <div class="decisionBtn" data-uuid="{{data.b.uuid}}" data-accept="1">Accept</div>
            <div class="decisionBtn" data-uuid="{{data.b.uuid}}" data-accept="0">Reject</div>
          {% else %}
            {{ data.result }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</section>
{% endblock %}
