{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<script src="/static/js/index.js"></script>
{% endblock %}

{% block actionBtn %}
  <a class="col-3 actionBtn" href="{{ url_for('addbook') }}">
    Add a new Book
  </a>
{% endblock %}


{% block content %}

  <!-- Search Bar -->
  <section class="row searchrow">
    <input type="text" placeholder="Searching for book" class="col-12">
  </section>

  <!-- Book Record -->
  <section class="row">
    <div class="col-12">
    {% for book in books %}
    <div class="recordwrapper" id="{{book.uuid}}">
      <div class="row">
        <div class="col-4">
          <img src="data:image/jpeg;base64,{{ book.image }}" class="book-img">
        </div>
        <div class="col-8">
          <div class="row">Book Name: {{ book.name }}</div>
          <div class="row">Author: {{ book.author }}</div>
          <div class="row break-field">{{ book.description }}</div>
        </div>
      </div>
      <div class="row">
        <div class="detail">Service type: {{ book.service_type }}</div>
        <div class="detail">Language: {{ book.language }}</div>
      </div>
      <hr>
    </div>
    {% endfor %}
    </div>
  </section>

{% endblock %}
