{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<script src="/static/js/index.js"></script>
{% endblock %}

{% block actionBtn %}
  <a class="col-3" href="{{ url_for('addbook') }}">
    Add a new Book
  </a>
{% endblock %}


{% block content %}

  <!-- Search Bar -->
  <section class="row searchrow">
    <input type="text" placeholder="Searching for book" class="col-12">
  </section>

  <!-- Book Record -->
  <section class="row">
    <div class="col-12">
    {% for book in books %}
      <div class="row">
        <div>
          <img src="data:image/jpeg;base64,{{ book.image }}">
        </div>
        <div>{{ book.name }}</div>
        <div>{{ book.author }}</div>
        <div>{{ book.service_type }}</div>
        <div>{{ book.language }}</div>
      </div>
    {% endfor %}
    </div>
  </section>

{% endblock %}
